* {
    margin: 0;
    padding: 0;
}
body, html {
    width: 100%;
    box-sizing: border-box;
}
.mainChat {
    height: 100%;
    width: 100%;
    background-color: #333;
    padding: 20px 50px 70px;
}
.listaMensagens {
    border-right: 1px solid rgba(0,0,0,.125);
    padding: 10px 0 0 0 !important;
}
.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 15px;
}
.colChat {
    width: 100%;
    height: 100%;
    background-color: #e5ddd5;
    background-image: url('../../images/background.png');
    border-radius: 0px 10px 10px 0px;
    overflow: auto;
}

@media only screen and (max-width: 768px) {
    .mainChat {
        padding: 20px 10px 70px;
    }
}