.formMensagem {
    height: auto;
    margin-right: 0 !important;
    margin-left: 0 !important;
    position: absolute;
    bottom: 10px;
    left: 0px;
    padding: 5px;
    background-color: transparent;
}
.formMensagem button {
    padding: .375rem 2.75rem;
}
.divMessages {
    position: absolute;
    bottom: 60px;
    left: 0px;
    width: 100%;
    overflow: hidden;
}
.divMessages .list-group-item {
    margin: 10px;
    border-radius: 10px;
    width: fit-content;
}
.divMessages .list-group-item p {
    font-weight: bold;
    margin-bottom: 3px;
}
