.formMensagem {
    height: auto;
    margin-right: 0 !important;
    margin-left: 0 !important;
    position: absolute;
    bottom: 10px;
    left: 0px;
    padding: 5px;
}
.formMensagem button {
    padding: .375rem 2.75rem;
}
