html, body, #root, #main {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.buttonNav {
  margin: 0px 10px 0px auto
}
.buttonNav .dropdown-menu {
  right: 0;
  left: unset;
}
#dropdown-nav:after { content: none }
.buttonCenter {
  display: block !important;
  margin: 0px auto;
}
.titleScreen {
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  margin-bottom: 45px;
}